:root {
  /* Color */
  --color-backgound: #333333;
  --color-base: #ffa44f;
  --color-text: #ffd098;
  --color-text-base: #fcce95;
  --color-base-background: #212326;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 50px;
  font-family: "Oswald", sans-serif;
  color: var(--color-text-dark);
  font-size: 16px;
  background-color: var(--color-white);
  line-height: 24px;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
}

.button {
  display: flex;
  background-color: rgb(132, 72, 45);
  border-radius: 5px;
  border: var(--color-white) solid 2px;
  color: #dfdfe0;
  padding: 12px;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
}

.button-secondary {
  background-color: transparent;
  border: #57b5db solid 2px;
  color: #57b5db;
}

.header {
  padding: 0 16px;
  color: azure;
  background-color: var(--color-backgound);
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  font-size: 40px;
  color: #f2f2f2;
}
.nav-list {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-items: center;
  align-self: center;
}

.nav-item button {
  font-size: 13px;
  padding: 10px;
}

/* Главный блок */

.izdrove {
  padding: 0 16px;
  background-color: #212326;
}
.izdrove-content {
  display: flex;
  padding: 100px 0;
  gap: 63px;
  flex: 1;
}

.izdrove-content__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
  gap: 30px;
}

.h1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 60px;
}

.h1 :first-child {
  color: #ffa44f;
}
.h1 :nth-of-type(2) {
  color: #f2d4ba;
}
.h1 :last-child {
  margin-top: 10px;
  color: #f2f2f2;
}

.izdrove-content__descripton {
  color: #ffd098;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.izdrove-content img {
  max-width: 50%;
  border-radius: 24px;
  box-shadow: 0 2px 20px rgb(0, 0, 0);
  object-fit: cover;
}

.izdrove-content__actions {
  display: flex;
  gap: 20px;
}

@media (max-width: 880px) {
  .izdrove-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button-header {
    display: none;
  }
  .izdrove-content {
    padding: 60px 0;
  }

  .izdrove-content img {
    max-width: 100%;
  }
  .izdrove-content__actions {
    justify-content: center;
  }
}

/* Блок what */

.what {
  background-color: var(--color-base-background);
  padding: 0 16px;
}

.what-content {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.what-content__title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 24px;
  color: var(--color-text-base);
}

.what-content__list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.what-content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: #2c5d71 solid 2px;
  border-radius: 10px;
  padding: 16px;
  color: var(--color-text-base);
  flex: 1;
}

.what-item__title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}

.what-item__description {
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 880px) {
  .what-content__list {
    flex-direction: column;
  }

  .what-content__title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 50px;
    color: var(--color-text-base);
  }
}

/* services */
.services {
  background-color: var(--color-base-background);
  padding: 0 16px;
}

.services-content {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  gap: 16px;
}

.services-content__title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 45px;
  line-height: 24px;
  color: var(--color-text-base);
}
.services-content__description {
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text-base);
}

.services-content__image {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.services-content__image img {
  max-width: calc(96% / 3);
  object-fit: cover;
  border-radius: 5px;
}

.services-content-list__info {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-bottom: 0;
}

.services-content-item__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  color: var(--color-text-base);
  gap: 10px;
  flex: 1;
}

.services-content-item__info .title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
}

.services-content-item__info .description {
  font-weight: 400;
  line-height: 24px;
}

.services-content__info {
  text-align: center;
  border: #2c5d71 solid 2px;
  border-radius: 10px;
  padding: 12px;
  color: var(--color-text-base);
}

.services-content__info .title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.services-content-item__info div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  flex: 1;
}
.services-content-item__info > div > img {
  max-width: 100%;
  height: 380px;
  border-radius: 6px;
  object-fit: cover;
}

.servise-box {
  border: #2c5d71 solid 2px;
  border-radius: 10px;
  padding: 16px;
}

@media (max-width: 880px) {
  .services-content-list__images {
    flex-direction: column;
  }
  .services-content__title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 50px;
    color: var(--color-text-base);
  }

  .services-content-list__info {
    flex-direction: column;
  }

  .services-content-item__info > div > img {
    max-width: 100%;
    height: 75%;
    border-radius: 6px;
    object-fit: cover;
  }
}
